.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8%;
    padding-bottom: 2%;
    gap: 10px;
}
.form {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    padding: 20px;
}
.row1,
.row2,
.row3,
.row4,
.row5,
.row6,
.row7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.form-control {
    width: 300px;
}

.last {
    width: 420px;
}

.submitBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
label {
    color: black;
}

@media (max-width: 1200px) {
    label {
        font-size: 0.8em;
    }
    .row1,
    .row2,
    .row3,
    .row4,
    .row5,
    .row6,
    .row7 {
        display: flex;
        flex-direction: column;
    }
    .formRow1,
    .formRow2,
    .formRow3,
    .formRow4,
    .formRow5 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .last {
        width: 200px;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        padding-top: 25%;
    }
    .form {
        border: none;
    }
}
